<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fufa_webhook>
            <general>
                <enabled>0</enabled>
                <endpoint_url></endpoint_url>
                <hmac_secret></hmac_secret>
                <abandon_threshold_minutes>60</abandon_threshold_minutes>
            </general>
        </fufa_webhook>
        <fufa_livechat>
            <general>
                <channel_id></channel_id>
            </general>
        </fufa_livechat>
    </default>
</config>
